.detail__alert--danger {
    margin: 10px 0;
    padding: 10px 30px;
    border-color: #f5c2c7;
    background-color: #f8d7da;
    color: #842029;
}

.detail__alert--danger ul {
    margin: 0;
}

.detail-content {
    display: flex;
    flex-direction: column;
}

.detail-content__title {
    display: flex;
    margin: 30px 0 15px 0;
}

.title-button {
    display: flex;
    align-items: center;
}

.title-button__link {
    text-decoration: none;
    background-color: #fff;
    border-color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #777;
    font-weight: bold;
    font-size: small;
    padding: 3px 6px;
}

.title-name {
    font-size: x-large;
    font-weight: bold;
    margin-left: 10px;
}

.detail-content__tag {
    font-size: small;
    padding: 15px 0 15px 0;
}

.detail-content__summary {
    font-size: small;
}

.detail-reserve {
    background-color: #3366FF;
    border-radius: 5px 5px 0 0;
    box-shadow: 2px 2px 2px #777;
}

.reserve__title {
    color: #fff;
    font-weight: bold;
    font-size: larger;
    margin-bottom: 15px;
}

.reserve__date {
    margin-top: 15px;
}

.reserve__date-item {
    border: none;
    border-radius: 5px;
    height: 25px;
    width: 140px;
}

.reserve__time {
    margin-top: 10px;
}

.reserve__time-item {
    border: none;
    border-radius: 5px;
    height: 25px;
    width: 90%;
    cursor: pointer;
}

.reserve__num {
    margin-top: 10px;
}

.reserve__num-item {
    border: none;
    border-radius: 5px;
    height: 25px;
    width: 90%;
    cursor: pointer;
}

.reserve__content {
    margin-top: 10px;
    padding: 15px;
    text-align: left;
    color: #fff;
    background-color: #6495ED;
    border-radius: 5px;
}

.reserve__content tbody tr th {
    font-weight: unset;
    width: 100px;
}

.form__button-submit {
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: #0033FF;
    border: none;
    border-radius: 0 0 5px 5px;
    box-shadow: 2px 2px 2px #777;
    cursor: pointer;
}


@media screen and (min-width: 768px) {
    .detail {
        display: flex;
        flex-wrap: wrap;
        margin: 0 20px 40px 20px;
    }

    .detail-content__media {
        width: 47%;
    }

    .reserve-form {
        width: 53%;
    }

    .detail-reserve__media {
        margin-left: 10%;
        padding: 15px 0 0 15px;
        height: 90%;
    }

    .reserve__content-media {
        width: 90%;
    }

    .form__button {
        margin-left: 10%;
        height: 10%;
    }
}
@media screen and (max-width: 767px) {
    .detail {
        margin: 0 20px 40px 20px;
    }

    .detail-content__media {
        margin-bottom: 15px;
    }

    .detail-reserve__media {
        padding: 15px;
    }

    .form__button {
        height: 26px;
    }
}