.username {
    margin-left: 50%;
}

.mypage {
    display: flex;
    justify-content: space-between;
}

.reserve {
    width: 50%;
    margin-left: 15px;
}

.reserve__frame {
    padding: 15px 0 0 15px;
    margin-bottom: 15px;
    background-color: #3366FF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 2px 2px 2px #777;
    width: 90%;
}

.reserve__header {
    display: flex;
    justify-content: space-between;
}

.reserve__header-title {
    color: #fff;
    font-size: larger;
}

.reserve__content {
    margin-top: 10px;
    width: 90%;
    text-align: left;
    color: #fff;
    background-color: #3366FF;
    border-radius: 5px;
}

.reserve__content tbody tr th {
    font-weight: unset;
    width: 100px;
}

.delete-form__button {
    cursor: pointer;
    background: none;
    border: none;
    margin-right: 15px;
}

.favorite {
    width: 50%;
}

.shop {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 15px 0 0;
    justify-content: space-between;
    height: fit-content;
}

@media screen and (min-width: 960px) {
    .shop-content {
        display: flex;
        flex-direction: column;
        width: 45%;
        margin-bottom: 10px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 2px 2px 2px #777;
    }

    .shop-content__name {
        font-weight: bold;
        padding: 15px 0 0 15px;
    }

    .shop-content__tag {
        font-size: x-small;
        padding: 0 0 10px 15px;
    }

    .detail-button {
        width: 85px;
        white-space: nowrap;
        color: #fff;
        background-color: #3366FF;
        border-color: #3366FF;
        border-radius: 3px;
        font-size: small;
        cursor: pointer;
    }

    .i-margin {
        margin: 0 25px 0 15px;
    }

    .reserve__content-media {
        padding: 15px;
    }
}

@media screen and (768px <= width <= 959px) {
    .shop-content {
        display: flex;
        flex-direction: column;
        width: 48%;
        margin-bottom: 10px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 2px 2px 2px #777;
    }

    .shop-content__name {
        font-size: x-large;
        font-weight: bold;
        padding: 15px 0 0 15px;
    }

    .shop-content__tag {
        padding: 0 0 10px 15px;
    }

    .detail-button {
        width: 110px;
        white-space: nowrap;
        color: #fff;
        background-color: #3366FF;
        border-color: #3366FF;
        border-radius: 3px;
        font-size: large;
        cursor: pointer;
    }

    .i-margin {
        margin: 0 25px 0 15px;
    }

    .reserve__content-media {
        padding: 15px;
    }
}

@media screen and (max-width: 767px) {
    .shop-content {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-bottom: 10px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 2px 2px 2px #777;
    }

    .shop-content__name {
        font-size: large;
        font-weight: bold;
        padding: 15px 0 0 15px;
    }

    .shop-content__tag {
        padding: 0 0 10px 15px;
    }

    .detail-button {
        color: #fff;
        background-color: #3366FF;
        border-color: #3366FF;
        border-radius: 3px;
        cursor: pointer;
    }

    .reserve__content-media {
        padding: 0 0 15px 0;
    }

    .reserve__content tbody tr th {
        width: 50%;
        white-space: nowrap;
    }

    .reserve__content tbody tr td {
        width: 50%;
    }

    .update-form__button,
    .review-form__button,
    .qr-code__button,
    .purchase__button {
        white-space: nowrap;
        font-size: x-small;
    }
}

.shop-content img {
    border-radius: 5px 5px 0 0;
    align-content: center;
}

.shop-content__detail {
    display: flex;
    justify-content: space-between;
    padding: 0 15px 15px 15px;
}

.shop-img {
    height: 60%;
}

.favorite-img {
    width: 20%;
    filter: invert(90%);
    cursor: pointer;
}

.liked {
    filter: invert(15%) sepia(95%) saturate(6932%) hue-rotate(358deg) brightness(95%) contrast(112%);
}

.dli-close-circle {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    line-height: 1;
    position: relative;
    width: 1.3em;
    height: 1.3em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    box-sizing: content-box;
}

.dli-close-circle>span {
    width: 52%;
    height: 0.15em;
    background: currentColor;
    border-radius: 0.1em;
    position: relative;
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.dli-close-circle>span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: inherit;
    transform: rotate(90deg);
}

.grayed {
    background-color: #777 !important;
}

.update,
.review {
    text-align: right;
    padding: 0 15px 15px 0;
}

.addition {
    display: flex;
    justify-content: space-between;
    padding: 0 15px 15px 0;
}

.update-form__button,
.review-form__button,
.qr-code__button,
.purchase__button {
    padding: 3px 10px;
    color: #fff;
    background-color: #3366FF;
    border-color: #fff;
    border-radius: 4px;
    box-shadow: 1px 1px 1px #777;
    cursor: pointer;
}

.display-none {
    display: none;
}