.represent__alert--danger {
    margin: 10px 0;
    padding: 10px 30px;
    border-color: #f5c2c7;
    background-color: #f8d7da;
    color: #842029;
}

.represent__alert--danger ul {
    margin: 0;
}

.represent__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.section__title {
    margin: 0 auto;
    width: 90%;
    text-align: center;
    color: #3366ff;
    font-family: serif;
}

/* CSVインポートエリア */
.import-form {
    display: flex;
}

.import-form__item {
    display: flex;
    align-items: center;
}

.import-form__button {
    margin-right: 10px;
}

.import-form__button-submit {
    padding: 5px 10px;
    width: 120px;
    border-radius: 3px;
    background: #3366ff 30%;
    color: #fff;
    border-color: #3366ff;
    cursor: pointer;
    white-space: nowrap;
}

.export__button {
    margin-top: 5px;
    padding: 5px 10px;
    width: 130px;
    border-radius: 3px;
    background: #3366ff 30%;
    color: #fff;
    border-color: #3366ff;
    cursor: pointer;
    white-space: nowrap;
}

/* 一覧エリア */
.represent-table {
    margin: 30px auto;
    width: 90%;
    text-align: left;
}

.represent-table__inner {
    width: 100%;
}

.represent-table__row {
    border: 1px solid #ddd;
}

.represent-table__header:first-of-type {
    padding-left: 30px;
}

.represent-table__header {
    padding: 10px 0;
    text-align: left;
    font-weight: bold;
    color: #fff;
    background-color: #3366ff;
    white-space: nowrap;
}

.represent-table__header-span {
    margin-right: 10%;
}

.represent-table__item:first-of-type {
    padding-left: 30px;
}

.represent-table__item {
    width: 18%;
    white-space: nowrap;
}

.represent-form__item-p {
    text-align: left;
}

.form__button {
    display: flex;
}

.update-form,
.reserve-form,
.review-form {
    margin: 0 auto;
}

.update-form__button {
    width: 60px;
}

.reserve-form__button,
.review-form__button {
    width: 90px;
}

.update-form__button-submit,
.reserve-form__button-submit,
.review-form__button-submit {
    padding: 5px 10px;
    width: 100%;
    border-radius: 3px;
    background: #3366ff 30%;
    color: #fff;
    border-color: #3366ff;
    cursor: pointer;
    white-space: nowrap;
}

.represent-table__pagination {
    height: 40px;
    margin-bottom: 15px;
}

.pagination {
    display: flex;
    justify-content: end;
    border-width: 0;
}

.pagination li {
    border: 1px solid #e0dfde;
    padding: 5px 10px;
}

.pagination li:first-of-type {
    border-radius: 3px 0 0 3px;
}

.pagination li:last-of-type {
    border-radius: 0 3px 3px 0;
}

.disabled,
.pagination li a {
    text-decoration: none;
}

@media screen and (max-width: 767px) {
    .represent-table__inner {
        font-size: small;
    }

    .search-form__item-keyword {
        font-size: x-small;
    }

    .represent-table__header:first-of-type,
    .represent-table__item:first-of-type {
        padding-left: 10px;
    }

    .delete-form__button {
        width: 50px;
    }
}
